Flask==2.0.2
opentelemetry-api==1.5.0
opentelemetry-distro==0.24b0
opentelemetry-exporter-otlp==1.5.0
opentelemetry-instrumentation==0.24b0
opentelemetry-instrumentation-flask==0.24b0
opentelemetry-instrumentation-jinja2==0.24b0
opentelemetry-instrumentation-requests==0.24b0
opentelemetry-sdk==1.5.0
requests==2.26.0