<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <!-- ngClass will apply a CSS class based on a condition, while ngStyle defines a style and also bases it off a condition -->
          <li 
          class="list-group-item"
          [ngClass]="{odd: num % 2 !== 0}"
          [ngStyle]="{backgroundColor: num % 2 !== 0 ? 'yellow' : transparent}"
          *ngFor="let num of odd">
            {{ num }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li 
          class="list-group-item" 
          [ngClass]="{odd: num % 2 !== 0}" 
          [ngStyle]="{backgroundColor: num % 2 !== 0 ? 'blue' : transparent}"
          *ngFor="let num of even">
            {{ num }}
          </li>
        </div>
      </ul>
      <!-- We don't need square brackets here because we are using a directive and have imported the directive in app.module.ts -->
      <p appBasicHighlight>Style me with basic directive!</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with better directive!</p>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>
