<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
      <td><%= link_to 'See Full Article', article_path(article) %></td>
    </tr>
  <% end %>

  <%= link_to "New Article", new_article_path %>
</table>