<h1>New Article</h1>

<%= render "form", article: @article %>


<!--form_with is the helper to create a form. articles_path is a helper that looks at "articles" and dynamicaly
    determines the POST action for the controller which is ArticlesController in this case.
    HTML tag before updating model with validations:
      form_with scope: :article, url: articles_path, local: true do |form|
-->
<%#= form_with model: @article do |form| %>
<!--  <div>-->
<!--    <%#= form.label :title %><br>-->
    <%#= form.text_field :title %>
    <%# @article.errors.full_messages_for(:title).each do |message| %>
<!--    <div><%#= message %></div>-->
      <%# end %>
<!--  </div>-->
<!--  <div>-->
<!--    <%#= form.label :body %><br>-->
    <%#= form.text_field :body %>
    <%# @article.errors.full_messages_for(:body).each do |message| %>
<!--      <div><%#= message %></div>-->
    <%# end %>
<!--  </div>-->

<!--  <p>-->
    <%#= form.submit %>
<!--  </p>-->
<%# end %>
<%#= link_to 'Back', welcome_index_path %>